
.sidebar {
  width: 100%;
  min-width: 240px;
  /* max-width: 240px; */
  background-color: lightslategray;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

.sideBarItem {
  width: 100%;
}

.LoginPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../src/railAPPimage.jpg');
}

.LoginModal {
  display: flex;
  flex-direction: column;
  padding: 1%;
  background-color: white;
  width: 25%;
  height: max-content;
  align-self: flex-end  ;
  border: 1%;
  opacity: 50%;
  margin: 1%;
}

.LoginForm {
  display: flex;
  flex-direction: column;
}

.Container {
  display: flex;
  flex-direction: coloumn;
}

.App {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  /* width: auto; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.listingScreen{
  display: flex;
  margin: 1%;
  border: 100%;
  padding: 1%;
  border-color: yellow;
  flex-direction: column;
}

.listScreenHeader{
  display: flex;
  flex-direction: row;
  align-items: centre;
  margin-bottom: 1%;
  /* background-color: #3f51b5; */
  height: 15vmin;
  justify-content: space-between;
}

.listScreenTitle{
  font-size: 400px;
  /* align-self: flex-start;
  background-color: black; */
}

.listScreenCount {
  display: flex;
  align-self: flex-start;
}

.listingModalHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
